<form [formGroup]="form" class="bg-blue-100 p-8  rounded-xl  w-full">
    <h2 class="text-xl w-full text-center font-bold text-gray-800">Iniciar Sesión</h2>
    <div>
        <app-input-form [parentForm]="form" [controlName]="loginControls.USERNAME" id="username"
            userName="Nombre de usuario" />
    </div>
    <div>
        <app-input-form [parentForm]="form" [controlName]="loginControls.PASSWORD" id="password" userName="Contraseña"
            type="password" />
    </div>
    <div class="text-center mt-3">
        @if(isFailied()){
        <small class="text-red-500 pt-5">
            Revise sus credenciales e intente nuevamente
        </small>
        }
    </div>

    <div class=" flex items-center justify-center mt-2 ">
        <app-button-component [loading]="isLoading()" appClickLogin  label="Iniciar Sesion"  />
    </div>
</form>