<div class="bg-white-300 flex justify-center h-screen items-center">
    <div class="bg-blue-100 p-8  rounded  w-1/6">
        <h2 class="text-xl w-full text-center font-bold text-gray-800">Iniciar Sesión</h2>
        <div>
            <app-input-form controlName="asd" id="username" userName="Nombre de usuario" />
        </div>
        <div>
            <app-input-form controlName="asd" id="password" userName="Contraseña" />
        </div>
        <div class=" flex items-center justify-center ">
        <button class=" bg-blue-600 text-white px-5 py-3 rounded-xl mt-5"> Iniciar sesion</button>
        </div>
    </div>
</div>